#include <stdio.h>
int main()
{
 int x;
 printf("Enter a number:");
   scanf("%d",&x);
   
 switch (x)
  {
  
    case1: printf("Choice is 1");
           Break;
    case2: printf("Choice is 2");
           Break;
    case3: printf("Choice is 3");
           Break;
    case4: printf("Choice is 4");
           Break;
    default: printf("NO");
             Break;
   }
   return 0;
 }
